* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #adb5bd;
}

header {
  display: flex;
  justify-content: center;
  border: 5px solid #f8f9fa;
  height: 100px;
  background-image: url(./assets/img/background-Thrones.jpeg);
}

h1 {
  font-size: 3em;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 25px;
  color: #f8f9fa;
}

.character-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
  margin-top: 20px;
}

.character-block {
  display: flex;
  flex-direction: column;
  width: 40%;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  background-color: #f8f9fa;
  box-shadow: 2px 5px 29px #343a40;
}

.img-container {
  width: 100%;
  height: 300px;
}

.img-character {
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.character-block p {
  margin: 10px;
}

.name {
  text-transform: capitalize;
  font-weight: bold;
  font-size: 1.2rem;
}

.pagination {
  display: flex;
  width: 80%;
  margin-left: 50px;
  margin-bottom: 50px;
}

#previous {
  background-color: #f8f9fa;
  height: 30px;
  width: 100px;
}

#next {
  background-color: #f8f9fa;
  height: 30px;
  width: 100px;
}
